div{
  
    border: 5px solid red;
    height: 120px;
    width: 298px;
    border-radius: 18px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}
span{
    border: 5px solid red;
    height: 30px;
    width: 150px;
    border-radius: 17px;
    background-color: black;
    color: white;
    padding: 20px ;
    position: relative ;
    top: -75px;
    left: 180px;

}
.h1{
    
    border: 5px solid red;
    height: 120px;
    width: 298px;
    border-radius: 18px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    margin-top: -90px;
    margin-left: 150px;

}
form{
    text-align: center;
    border: 5px dotted red;
    display: inline-block;
   margin-top: -400px;
    margin-left: 500px;

}

.circle{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-top: 100px;
    background-color: lightseagreen;
    border: 6px solid gray;
    font-style: italic;
   

  

}
.menu{
    border: 5px solid red;
    height: 50px;
    width: 150px;
    border-radius: 17px;
    background-color: black;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
   margin-left: 450px;

}



.flex-container{

    padding: 40px;
    background-color: aliceblue;
   height: 0px; 
   width: 0px;
   border: none;
    color: blueviolet;
    display: flex;
    border-radius: 10px;
   
    /* flex-direction: row;
    flex-wrap: wrap; */
    gap: 10px;

    flex-flow: column wrap;
}

.flex-items{
    border: 3px solid green;
    background-color: rgb(81, 227, 243);
    height: 300px;
    color: blue;
    padding-bottom: 3px;
    margin-bottom: 20px;
    position: relative;
    
    }









label{
    color: red;
}
h2{
    color: red;
}

h1{
    color: blue;
}